<% provide(:title, @user.name) %>
<h1>プロフィール</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered" id="table-user">
      <thead>
        <tr>
          <th class="active col-md-3">ID</th>
          <td class="col-md-9"><%= @user.id %></th>
        </tr>
        
        <tr>
          <th class="active">name</th>
          <td class="col-md-9"><%= @user.name %></td>
        </tr>
        
        <tr>
          <th class="active">email</th>
          <td class="col-md-9"><%= @user.email %></td>
        </tr>
        
        <tr>
          <th class="active">created_at</th>
          <td class="col-md-9"><%= @user.created_at %></td>
        </tr>
      </thead>
    </table>
  </div>    
</div>
