@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

.navbar-default {
  background-color:#008080;
  border-color: #008080;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

#logo:hover {
  color: #a9a9a9;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #a9a9a9;
}

li .dropdown-header {
  background-color: rgba(200,200,200,0.5);
  font-weight: bold;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #777777;
  white-space: nowrap;
}

/* トップページ */
#top-main-title {
  font-style: italic;
  font-weight: bold;
}

.jumbotron {
  background-color: #fff;
}

.col-md-7 {
  padding-right: 30px;
}

/* タスク一覧 */

.table > thead:first-child > tr:first-child > th, .table > td {
  border-top: 0;
  padding-right: 20px;
}

#table-tasks td {
  vertical-align: middle;
}

.task_name {
  font-size: 25px;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* 入力フォーム */
.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-task--edit {
  margin-top: 10px;
}

.btn-form {
  margin-top: 10px;
}
